node_modules/
dist/
dist-ssr/
*.local

# logs
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store

# env
.env
.env.local
.env.*.local

# test / coverage
coverage/
